[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ZODB = "*"
Flask = "*"
flask-mongoengine = "*"
Flask-API = "*"
flask = "*"
flask-restful = "*"

[requires]
python_version = "3.7"

[dev-packages.python-language-server]
extras = [ "all",]
