[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-API = "*"
Flask-RESTful = "*"
mongoengine = "*"
blinker = "*"
gunicorn = "*"
dnspython = "*"

[requires]
python_version = "3.8"

[dev-packages]
requests = "*"

[dev-packages.python-language-server]
extras = [ "all",]
